<div class="input-user-data">
    <div class="input-user-data-heading">Unesi tekst za sažimanje</div>
        <form action="" method="post">
            <label for="field1"><span>Naslov <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>
            <label for="field5"><span>Sadržaj <span class="required">*</span></span><textarea name="field5" class="textarea-field"></textarea></label>
            <label><span> </span><input type="submit" value="Submit" /></label>
        </form>
</div>
